mixin content(type, data)
  img.card__image(class=`card__image--${type}`, src=`${data.url}image.png`, itemprop='image', alt=data.title, style=(type === 'pixelart' ? `transform:translate(-50%, -50%) scale(${data.metadata.scale})` : null))
  if type === 'labs'
    h3.card__title(itemprop='title')
      small= moment.utc(data.date).format('MMM DD, YYYY')
      = data.title

mixin card(type, data)
  article.card(itemscope, itemtype='http://schema.org/Article')
    - const isExternal = data.metadata && data.metadata.href;
    - const isAnchor = ['labs'].includes(type);
    if isAnchor
      a.card__link(href=isExternal ? data.metadata.href : data.url, itemprop='url', target=isExternal && '_blank', rel=isExternal && 'noopener')
        +content(type, data)
    else
      div.card__link(style=`background-color:${data.metadata.bgcolor}`)
        +content(type, data)
        
        
