mixin card(data)
  article.card(itemscope, itemtype='http://schema.org/Article')
    a.card__link(href=data.metadata.href || data.url, itemprop='url', target=data.metadata.href ? '_blank' : null)
      img.card__image(src=`${data.url}image.png`, title=moment.utc(data.date).format('MMM DD.YYYY'), itemprop='image')
      h3.card__title(itemprop='title')= data.title
