
extends layout

block append vars
  - bodyclass = 'article-detail'
  - schematype = 'http://schema.org/Article'

block prepend title
  | #{page.title + ' - '}

block header
  include author
  h1(itemprop='headline')= page.title
  p.details
    //- meta(itemprop='description', content=page.metadata.description)
    mixin author(page.metadata.author)
    time(itemprop='datePublished', datetime=moment.utc(page.metadata.date).format('YYYY-MM-DD'))= moment.utc(page.metadata.date).format('MMMM DD, YYYY')
    //- meta(itemprop='dateModified', content=moment.utc(page.metadata.modified).format('YYYY-MM-DD')
    //-
      span.topics
        | #{'Published in '}
        a(href='/topic/' + topic.name, itemprop='about')= topic.name

block content
  section.content(itemprop='articleBody')!= typogr(page.html).typogrify()

block prepend footer
  div.nav
    a(href=contents.index.url) &laquo; Go back
