extends layout

block append vars
  - lang = page.metadata.lang;
  - bodyclass = 'article';
  - schematype = 'http://schema.org/Article';

block prepend title
  | #{page.title + ' - '}

block append head
  meta(name='twitter:card', content='summary_large_image')
  meta(name='twitter:site', content='@lean8086')
  meta(name='twitter:url', content=locals.url + page.url)
  meta(name='twitter:title', content=locals.description)
  meta(name='twitter:description', content=locals.owner)
  meta(name='twitter:creator', content='@lean8086')
  meta(name='twitter:image', content=page.metadata.image)
  meta(name='twitter:image:alt', content=page.metadata.image)
  
  meta(property='og:title', content=locals.description)
  meta(property='og:type', content='article')
  meta(property='og:url', content=locals.url + page.url)
  meta(property='og:image', content=page.metadata.image)
  meta(property='og:description', content=locals.owner)
  meta(property='og:site_name', content=locals.owner)

block content
  header.article-header
    include mixins/published
    include mixins/estimatedReadingTime
    h1.article-headline(itemprop='headline')= page.title
    p.article-details
      meta(itemprop='description', content=page.metadata.description)
      meta(itemprop='author', content=locals.owner)
      meta(itemprop='articleSection', content=page.metadata.topics)
      meta(itemprop='about', content=page.metadata.topics)
      mixin published(page.metadata.date, page.metadata.modified)
      | #{' · '}
      mixin estimatedReadingTime(page.markdown)
      | #{' min read.'}
  section.article-body(itemprop='articleBody')!= htmlMinifier.minify(typogr(page.html).typogrify(), { collapseBooleanAttributes: true, collapseWhitespace: true, decodeEntities: true, removeComments: true, removeEmptyAttributes: true, removeEmptyElements: true, removeRedundantAttributes: true, removeScriptTypeAttributes: true, removeStyleLinkTypeAttributes: true, sortAttributes: true, sortClassName: true })
  hr
  section#disqus_thread

block prepend footer
  div.nav
    a(href='/') Go back

block append body
  script.
    var disqus_config=function(){this.page.url='https://www.lean8086.com/'};(function(){var d=document,s=d.createElement('script');s.src='https://lean8086.disqus.com/embed.js';s.setAttribute('data-timestamp',+new Date());(d.head||d.body).appendChild(s);})();
