
extends layout

block append vars
  - bodyclass = 'article-detail'
  - schematype = 'http://schema.org/Article'

block prepend title
  | #{page.title + ' - '}

block header
  include published
  include estimatedReadingTime
  h1(itemprop='headline')= page.title
  p.details
    //- meta(itemprop='description', content=page.metadata.description)
    mixin published(page.metadata.date)
    | #{' · '}
    mixin estimatedReadingTime(page.markdown)
    | #{' min read'}
    //- meta(itemprop='dateModified', content=moment.utc(page.metadata.modified).format('YYYY-MM-DD')
    //-
      span.topics
        | #{'Published in '}
        a(href='/topic/' + topic.name, itemprop='about')= topic.name

block content
  section.content(itemprop='articleBody')!= typogr(page.html).typogrify()                  

block prepend footer
  div.nav
    a(href=contents.index.url) Go back
