extends layout

block append vars
  - bodyclass = 'article'
  - schematype = 'http://schema.org/Article'

block prepend title
  | #{page.title + ' - '}

block content
  header.article-header
    include mixins/published
    include mixins/estimatedReadingTime
    h1.article-headline(itemprop='headline')= page.title
    p.article-details
      mixin published(page.metadata.date)
      | #{' · '}
      mixin estimatedReadingTime(page.markdown)
      | #{' min read.'}
  div.article-body(itemprop='articleBody')!= typogr(page.html).typogrify()

block prepend footer
  div.nav
    a(href='/') Go back
