extends layout

block append vars
  - bodyclass = 'iframe';

block prepend title
  |#{page.title + ' - '}

block append head
  include mixins/meta
  mixin meta(page)

block content
  header.article-header.content-wrap
    include mixins/published
    h1.article-headline(itemprop='headline')= page.title
    p.article-description(itemprop='description')= page.metadata.description
    p.article-details
      mixin published(page.metadata.date, true)
  section
    iframe.externalIframe(src=page.metadata.src, height=page.metadata.height, scrolling="no")
  hr
  section.content-wrap#disqus_thread

block append body
  script.
    var disqus_config=function(){this.page.url=location.href};(function(){var d=document,s=d.createElement('script');s.src='https://lean8086.disqus.com/embed.js';s.setAttribute('data-timestamp',+new Date());(d.head||d.body).appendChild(s);})();
