extends layout

block append vars
  - bodyclass = 'home'
  - schematype = 'http://schema.org/Person'

block header
  header.article-header.content-wrap
    h1.article-headline.hi
      span.emoji 👋
      |#{' Hello there.'}
    p.article-description(itemtype='description')
      |#{'I am '}
      span(itemtype='name')= locals.owner
      |#{', '}
      = locals.description
      |#{'.'}
    a.article-details.more(href='/about') About me

block append body
  script.
    window.addEventListener('load', function () {
      document.head.insertAdjacentHTML('beforeend', '<style>.home .header {background-image: url("/assets/hero-hd.jpg")}');
    });

block content      
  section.content-wrap#articles
    h2 Articles
    ol.articles-list
      - var lineHeight = 3;
      - var archives = _.chain(env.helpers.getArticles(contents)).filter(function(post) {
      -   return !post.metadata.draft;
      - }).groupBy(function(item) {
      -   return item.date.getFullYear();
      - }).value();
      - for (var archive in archives) {
      -   archives[archive] = _.groupBy(archives[archive], function(item) { return item.date.getMonth(); });
      - }
      - var month_names = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
      - var yearsK = _.chain(archives).keys().reverse().value();
      each yearK in yearsK
        - var months = archives[yearK];
        - var yearHeight = Math.round(lineHeight * _.reduce(months, function(memo,month) { return memo + month.length; }, 0));
        li.articles-list__blocks
          h3.articles-list__year(style='line-height:' + yearHeight + 'em')= yearK
          ol.articles-list__year-content
            - var monthsK = _.chain(months).keys().reverse().value();
            each monthK in monthsK
              - var monthHeight = Math.round(lineHeight * months[monthK].length);
              li
                h4.articles-list__month(style='line-height:' + monthHeight + 'em')= month_names[monthK]
                ol.articles-list__month-content
                  each item in months[monthK]
                    li.articles-list__article
                      - var limit = new Date();
                      - limit.setDate(limit.getDate() - 14);
                      - var isNew = new Date(item.metadata.date) > limit;
                      - var className = (isNew ? 'new' : null);
                      a(href=item.url, class=className)= item.title
  hr
  
  section.content-wrap#labs
    h2 Labs
    ol.articles-list
      - var lineHeight = 3;
      - var archives = _.chain(env.helpers.getLabs(contents)).filter(function(post) {
      -   return !post.metadata.draft;
      - }).groupBy(function(item) {
      -   return item.date.getFullYear();
      - }).value();
      - for (var archive in archives) {
      -   archives[archive] = _.groupBy(archives[archive], function(item) { return item.date.getMonth(); });
      - }
      - var month_names = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
      - var yearsK = _.chain(archives).keys().reverse().value();
      each yearK in yearsK
        - var months = archives[yearK];
        - var yearHeight = Math.round(lineHeight * _.reduce(months, function(memo,month) { return memo + month.length; }, 0));
        li.articles-list__blocks
          h3.articles-list__year(style='line-height:' + yearHeight + 'em')= yearK
          ol.articles-list__year-content
            - var monthsK = _.chain(months).keys().reverse().value();
            each monthK in monthsK
              - var monthHeight = Math.round(lineHeight * months[monthK].length);
              li
                h4.articles-list__month(style='line-height:' + monthHeight + 'em')= month_names[monthK]
                ol.articles-list__month-content
                  each item in months[monthK]
                    li.articles-list__article
                      - var limit = new Date();
                      - limit.setDate(limit.getDate() - 14);
                      - var isNew = new Date(item.metadata.date) > limit;
                      - var className = (isNew ? 'new' : null);
                      a(href=item.url, class=className)= item.title
