extends layout

block append vars
  - bodyclass = 'home'
  - schematype = 'http://schema.org/Person'

block header
  section.hero.heading.content-wrap
    img.hero__avatar(src=contents.assets['avatar@2x.png'].url, alt='Me', itemtype='image')
    div.hero__container
      h1.hero__hi(itemtype='name')= locals.owner
      p.hero__description(itemtype='description')= locals.description
      include mixins/social
      +social()

block content
  include mixins/card
  section#labs.home-section.content-wrap
    - const labs = env.helpers.getLabs(contents);
    h2.home-section__heading Labs
    p Collection of quick experiments.
    div.home-section__cards
      each lab in labs
        +card('labs', lab)
  
  section#pixelart.home-section.content-wrap
    - const draws = env.helpers.getDraws(contents);
    h2.home-section__heading Pixel art
    p From time to time I like to put some pixels together.
    div.home-section__cards
      each draw in draws
        +card('pixelart', draw)
  
  section#blog.home-section.content-wrap
    include mixins/published
    - const articles = env.helpers.getArticles(contents).filter(article => !article.metadata.draft);
    h2.home-section__heading Blog
    each article in articles
      article.blog(itemscope, itemtype='http://schema.org/Article')
        if article.metadata.image
          a(href=article.url)
            img.blog__image(src=article.url + article.metadata.image)
        div.blog__header
          h3.blog__title(itemprop='headline')
            a(href=article.url, itemprop='url')= article.title
          p
            span
              +published(article.metadata.date)
              |#{'. '}
            span(itemprop='description')= article.metadata.description
