extends layout

block append vars
  - bodyclass = 'home'
  - schematype = 'http://schema.org/Person'

block header
  div.hero.heading.content-wrap
    h1.heading__headline.hero__hi
      span.hero__emoji 👋
      |#{' Hello there.'}
    p.heading__description.hero__description(itemtype='description')
      |#{'I am '}
      span(itemtype='name')= locals.owner
      |#{', '}
      = locals.description
      |#{'.'}
    include mixins/social
    +social()

block content
  include mixins/card
  section#labs.home-section.content-wrap
    - const labs = env.helpers.getLabs(contents);
    h2.home-section__heading Labs
    p Collection of quick experiments.
    div.home-section__cards
      each lab in labs
        +card(lab)
  
  section#pixelart.home-section.content-wrap
    - const draws = env.helpers.getDraws(contents);
    h2.home-section__heading Pixel art
    p From time to time I like to put some pixels together.
    div.home-section__cards
      each draw in draws
        +card(draw)
  
  section#blog.home-section.content-wrap
    - const articles = env.helpers.getArticles(contents).filter(article => !article.metadata.draft);
    h2.home-section__heading Blog
    each article in articles
      article(itemscope, itemtype='http://schema.org/Article')
        h3.blog__title(itemprop='headline')
          a(href=article.url, itemprop='url')= article.title
        p(itemprop='description')= article.metadata.description
  
  section#about.home-section.content-wrap
    h2.home-section__heading About me
    p
      |#{'I am '}
      strong= locals.owner
      |#{', '}
      = locals.description
      |#{'.'}
    p
      |#{' I have worked for the last 10 years in the internet industry. I am currently working at '}
      a(href='https://www.mercadolibre.com.ar/', target='_blank', rel='noopener') MercadoLibre.com
      |#{' (nasdaq:MELI): the largest e-commerce and fintech in Latin America.'}
    p I started designing user-centered interfaces, focused in UX research and experimentation. I gradually turned to front-end programming and involved myself more with the ins and outs of the Web.
    p
      |#{'Read more about me on '}
      a(href='https://www.linkedin.com/in/lean8086/', target='_blank', rel='noopener') LinkedIn
      |#{', follow me on '}
      a(href='https://www.twitter.com/lean8086/', target='_blank', rel='noopener') Twitter
      |#{' and fork me on '}
      a(href='https://www.github.com/lean8086/', target='_blank', rel='noopener') GitHub
      |#{'.'}

block append body
  script.
    window.addEventListener('load',function(){document.head.insertAdjacentHTML('beforeend','<style>.home .header{background-image:url(/assets/hero-hd.jpg)}</style>');});
