extends layout

block append vars
  - bodyclass = 'home'
  - schematype = 'http://schema.org/Person'

block content
  section.home-section#intro
    h1 #{'Hey there, I\'m '}
      span(itemtype='name')
        = locals.owner
    img.avatar(src=contents.assets['avatar.png'].url, srcset=contents.assets['avatar.png'].url + ' 1x, ' + contents.assets['avatar@2x.png'].url + ' 2x, ' + contents.assets['avatar@3x.png'].url + ' 3x' width='120', height='120', itemtype='image')
    div.bio
      p(itemtype='description')
        = locals.description
      p
        a(href='#about') Read more about me.

  section.home-section#articles
    h2 Articles
    ol.articles-list
      - var lineHeight = 3;
      - var archives = _.chain(env.helpers.getArticles(contents)).groupBy(function(item) {
      -   return item.date.getFullYear();
      - }).value();
      - for (var archive in archives) {
      -   archives[archive] = _.groupBy(archives[archive], function(item) { return item.date.getMonth(); });
      - }
      - var month_names = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
      - var yearsK = _.chain(archives).keys().reverse().value();
      each yearK in yearsK
        - var months = archives[yearK];
        - var yearHeight = (lineHeight * _.reduce(months, function(memo,month) { return memo + month.length; }, 0)).toFixed(1);
        li.articles-list__blocks
          h3.articles-list__year(style='line-height:' + yearHeight + 'em')= yearK
          ol.articles-list__year-content
            - var monthsK = _.chain(months).keys().reverse().value();
            each monthK in monthsK
              - var monthHeight = (lineHeight * months[monthK].length).toFixed(1);
              li
                h4.articles-list__month(style='line-height:' + monthHeight + 'em')= month_names[monthK]
                ol.articles-list__month-content
                  each item in months[monthK]
                    li.articles-list__article
                      - var limit = new Date();
                      - limit.setDate(limit.getDate() - 14);
                      - var isNew = new Date(item.metadata.date) > limit;
                      - var className = (isNew ? 'new' : '');
                      - console.log(limit, new Date(item.metadata.date));
                      a(href=item.url, class=className)= item.title

  section.home-section#about
    h2 About me
    p Experienced Front-End Web Developer with a demonstrated history of working in the e-commerce industry. Currently working at MercadoLibre.com: the largest online commerce and payments platform in Latin America.
    
    h3 Present
    p Currently part of the small team that's moving the (web) front-end tech stack of the company forward. The efforts includes not only to move towards latest front-end technologies, but also coach the people behind every new implementation. The main challenge is also to find the appropiate solution for every specific project, always in a high availability and reliability context.
    p Working with: Node, React, Flux/Redux, Sass, Webpack, and vanilla JS (because never goes out of style 👍).

    h3 Past
    p Back in 2015 was focused on apply the concept of Single Page App on certain sections of the website. Worked with Backbone + Marionette, Handlebars, Less and Gulp.
    p From 2009 to 2013 was part of the team that unified the entire UI of the company. Then Chico UI borned: a jQuery-based library of components.

    h3 Future
    p My career goal is to keep helping people with creative problem-solving. I'm always searching ways to use what I learn to make easier the job of the developers I work with, so they can focus on real issues.
