block vars
  - let lang = 'en';
  - let bodyclass = null;
  - let schematype = null;

doctype html
html(lang=lang, itemscope, itemtype=schematype)
  head
    block head
      meta(charset='utf-8')
      title
        block title
          = locals.owner
      meta(name='viewport', content='width=device-width')
      meta(name='theme-color', content='#e74c3c')
      meta(name='description', content=locals.description)
      link(rel='shortcut icon', href=contents.assets['favicon.png'].url)
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Lato:300,400,700')
      link(rel='stylesheet', href=contents.css['styles.css'].url)
      include mixins/analytics
      +analytics()
  body(class=bodyclass)
    block body
      header.header(role='banner')
        a.header__logo(href=(process.env.NODE_ENV === 'production' ? locals.url : '/'), itemprop='url') 8086
        nav.header__nav(itemscope, itemtype='http://schema.org/SiteNavigationElement')
          a(href='/#labs', itemprop='url')
            span(itemprop='name') Labs
          a(href='/#pixelart', itemprop='url')
            span(itemprop='name') Pixel art
          a(href='/#blog', itemprop='url')
            span(itemprop='name') Blog
        block header
      main(role='main')
        block content
        hr
      footer.footer(role='contentinfo')= locals.owner
